.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed; /* it stays in a position even as we scroll */
  z-index: 100; /* it is above the elements we want to have it sit above */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); /* black color with %50 transparency */
}
